* {
	box-sizing: border-box;
    width: 950px;
	border: 1px solid black;
    margin: 0px auto;
}

#wrapper {
	width: 1000px;
	margin: 30px auto;
	border: 1px solid black;
}
#header {
	height: 200px;
	padding: 20px;
	border: 1px solid black;
}
#container {
	display: flex;
}
#content {
	width: 1000px;
	height: 900px;
	padding: 20px;
	border: 1px solid black;
}
#sidebar {
	width: 500px;
	margin-left: 40px;
	padding: 20px;
	border: 1px solid black;
}
#footer {
	height: 200px;
	padding: 20px;
	border: 1px solid black;
}